<!--  -->
<header>
  <div class="navbar">
    <div class="logoimg">
      <a href="#">
        <img alt="Casha Logo" src="/images/logo.png" class="logo" />
      </a>
    </div>
    <ul class="links">
      <li class="nav-links"><a href="/admin/proven/results">Proven Results</a></li>
      <li class="nav-links"><a href="/admin/quotes">Quotes</a></li>
      <li class="nav-links"><a href="/admin/avatars">Avatars</a></li>
      <li class="nav-links"><a href="/admin/teachers">Teachers</a></li>
      <li class="nav-links"><a href="/admin/students">Students</a></li>
      <li class="nav-links"><a href="/admin/all">Admins</a></li>
      <li class="nav-links"><a href="/logout">Logout</a></li>
    </ul>
    <div class="toggle_btn">
      <i class='bx bx-menu'></i>
    </div>
  </div>
  <div class="dropdown_menu">
    <li class="nav-links"><a href="/admin/proven/results">Proven Results</a></li>
    <li class="nav-links"><a href="/admin/quotes">Quotes</a></li>
    <li class="nav-links"><a href="/admin/avatars">Avatars</a></li>
    <li class="nav-links"><a href="/admin/teachers">Teachers</a></li>
    <li class="nav-links"><a href="/admin/students">Students</a></li>
    <li class="nav-links"><a href="/admin/all">Admins</a></li>
    <hr>
    <li class="nav-links"><a href="/logout">Logout</a></li>
  </div>
</header>
