<footer>
  <div class="footerTopElements">
    <div class="logo">
      <img src="/images/logo.png" class="logoimg" />
    </div>
    <div class="socialMediaIcons">
      <i class='bx bxl-facebook-circle'></i>
      <i class='bx bxl-twitter'></i>
      <i class='bx bxl-linkedin-square'></i>
      <i class='bx bxl-youtube'></i>
    </div>
  </div>
  <div class="copyRightsContainer">
    <p class="copyRightText">Copyright &copy; 2023. Casha Inc. All rights reserved.</p>
  </div>
</footer>
