<header>
  <div class="navbar">
    <div class="logoimg">
      <a href="/">
        <img alt="Casha Logo" src="/images/logo.png" class="logo" />
      </a>
    </div>
    <ul class="links">
      <li class="nav-links"><a href="#aboutUs">about us</a></li>
      <li class="nav-links"><a href="/login">login</a></li>
    </ul>
    <div class="toggle_btn">
      <i class='bx bx-menu'></i>
    </div>
  </div>
  <div class="dropdown_menu">
    <li class="nav-links"><a href="#aboutUs">about us</a></li>
    <li class="nav-links"><a href="/login">login</a></li>
    <hr>
    <li class="nav-links"><a href="/signup/teacher">register as teacher</a></li>
    <li class="nav-links"><a href="/signup/student">register as student</a></li>
  </div>
</header>
