<div class="topper">
  <div class="signupButtonsContainer">
    <a class="teachers" href="/admin/login">Admin</a>
    <a href="/signup/teacher" class="teachers">Register as teacher</a>
    <a class="students" href="/signup/student">Register as student</a>
  </div>
</div>
