<%- include('../partials/head') %>
<title>Casha || Login</title>
<%- include('../partials/headclose') %>
<%- include('../partials/navbar') %>
<div class="expirationContainer">
  <i class='bx bx-error'></i>
  <p class="expiredLinkText">The Link You Followed Has Expired</p>
</div>
<%- include('../partials/bodyclose') %>
